
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/eot/dana-thin.eot);
  src:
    url(../fonts/eot/dana-thin.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-thin.woff2) format("woff2"),
    url(../fonts/woff/dana-thin.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/eot/dana-extralight.eot);
  src:
    url(../fonts/eot/dana-extralight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-extralight.woff2) format("woff2"),
    url(../fonts/woff/dana-extralight.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/eot/dana-light.eot);
  src:
    url(../fonts/eot/dana-light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-light.woff2) format("woff2"),
    url(../fonts/woff/dana-light.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/eot/dana-regular.eot);
  src:
    url(../fonts/eot/dana-regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-regular.woff2) format("woff2"),
    url(../fonts/woff/dana-regular.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/eot/dana-medium.eot);
  src:
    url(../fonts/eot/dana-medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-medium.woff2) format("woff2"),
    url(../fonts/woff/dana-medium.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/eot/dana-demibold.eot);
  src:
    url(../fonts/eot/dana-demibold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-demibold.woff2) format("woff2"),
    url(../fonts/woff/dana-demibold.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/eot/dana-bold.eot);
  src:
    url(../fonts/eot/dana-bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-bold.woff2) format("woff2"),
    url(../fonts/woff/dana-bold.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src: url(../fonts/eot/dana-ultrabold.eot);
  src:
    url(../fonts/eot/dana-ultrabold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-ultrabold.woff2) format("woff2"),
    url(../fonts/woff/dana-ultrabold.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/eot/dana-extrabold.eot);
  src:
    url(../fonts/eot/dana-extrabold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-extrabold.woff2) format("woff2"),
    url(../fonts/woff/dana-extrabold.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/eot/dana-black.eot);
  src:
    url(../fonts/eot/dana-black.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-black.woff2) format("woff2"),
    url(../fonts/woff/dana-black.woff) format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  src:
    local("Roboto-Regular"),
    local(Roboto-Regular),
    url(../fonts/woff2/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body{font-family:"dana";font-size:13px;line-height:1;}

:root {
--main-purple: #AB4F9E;
--second-gray: #EFF2F5;
--main-success: #16C784;
--main-danger:#EA3943;

--opacity-danger: #FBD7D9;
--opacity-success:#D0F4E6;
--opacity-warning: rgba(255, 207, 104, 0.356);
--main-gary-element:#F8FAFD;

}


.font-color{
  color: #616E85!important;

}
li{
  font-size: 16px;
  padding: 0px 10px;
}
.gary-color{
  background-color: var(--main-gary-element)!important;
}
.amount{
       background-color: #f8f9fa
}
.cards-section {
  background-image: url('/assets/img/back.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 20px; 
}
.crypto-card {
  
    background: #f8fafdcc;
    height: auto !important;
}

.bg-gary{
    background-color: var(--second-gray)!important;
}
.box-up{
    color: var(--main-success);
}
.box-down{
    color: var(--main-danger);
}
.bg-opacity-danger{
    background-color: var(--opacity-danger);
    color: var(--main-danger)!important;
    font-size: x-small!important;
}
.bg-opacity-success{
    background-color: var(--opacity-success);
    color: var(--main-success);
}
.bg-opacity-warning{
  background-color: var(--opacity-warning);
}
.small{
    font-size: x-small!important;
}

.btn-outline-danger {
    --bs-btn-color: var(--main-purple);
    --bs-btn-border-color: var(--main-purple);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--main-purple);
    --bs-btn-hover-border-color: var(--main-purple);
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--main-purple);
    
}


.outline-0{outline:0}
.outline-0:focus{box-shadow:none}
@media (max-width: 991px) {
    .steps {
        border-left: none !important;
        border-bottom: 1px solid var(--main-purple);
        margin-bottom: 15px!important;
    }
}
.ps-7px{padding-inline-start:20px}
.gap-24px{gap:0 7px}
.min-w-103{min-width:103px}

.divider-top{
  position:relative;
  padding-top:25px;
}
.divider-top:before{
  content:"";
  background-image:url("../img/divider.png");
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  right:0;
  width:60px;
  height:14px;
}

.nav-link:focus,
.nav-link:active {
    text-decoration: underline;
}
  

/*new style*/

.carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-indicators {
  margin-bottom: -2rem;
}
.carousel-control-next-icon, .carousel-control-prev-icon {

  position: absolute;
  top: -60px;
}

 .carousel-control-prev-icon {
  filter: invert(30%) sepia(89%) saturate(700%) hue-rotate(210deg) brightness(95%) contrast(90%);
}


.carousel-control-next-icon {
  filter: invert(39%) sepia(57%) saturate(500%) hue-rotate(80deg) brightness(90%) contrast(85%);
}


