.popover *,body{font-family:dana,sans-serif}
@font-face{font-family:dana;src:url(/assets/fonts/woff2/dana-regular.woff2) format("woff2");font-weight:400}
@font-face{font-family:dana;src:url(/assets/fonts/woff2/dana-medium.woff2) format("woff2");font-weight:500}
@font-face{font-family:dana;src:url(/assets/fonts/woff2/dana-bold.woff2) format("woff2");font-weight:700}
   

body {
  font-family: "dana";
  font-size: 13px;
  line-height: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-purple: #ab4f9e;
  --second-gray: #eff2f5;
  --main-success: #16c784;
  --main-danger: #ea3943;
  --opacity-danger: #fbd7d9;
  --opacity-success: #d0f4e6;
  --opacity-warning: rgba(255, 207, 104, 0.356);
  --main-gary-element: #f8fafd;
  --important-font-color :#47505f;
}

/* ===============================
   Typography & Colors
================================= */
.head-color {
  color: var(--important-font-color)
}
.text-gray {
  color: #dee4ec !important;
}
.bg-green, .box-up {
  color: var(--main-success);
}
.bg-red, .box-down {
  color: var(--main-danger);
}
.gary-color {
  background-color: var(--main-gary-element) !important;
}
.bg-gary {
  background-color: var(--second-gray) !important;
}
.bg-purple {
  background-color: var(--main-purple);
}
.amount {
  background-color: #f8f9fa;
}
.text-purple{
  color:#ab4f9e
}
/* ===============================
   Backgrounds with Opacity
================================= */
.bg-opacity-danger {
  background-color: var(--opacity-danger);
  color: var(--main-danger) !important;
  font-size: x-small !important;
}
.bg-opacity-success {
  background-color: var(--opacity-success);
  color: var(--main-success);
}
.bg-opacity-warning {
  background-color: var(--opacity-warning);
}
.bg-footer {
  background-color: #0d1421;
}

/* ===============================
   Buttons
================================= */
.btn-outline-danger {
  --bs-btn-color: var(--main-purple);
  --bs-btn-border-color: var(--main-purple);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--main-purple);
  --bs-btn-hover-border-color: var(--main-purple);
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--main-purple);
}

/* ===============================
   Utility Classes
================================= */
.small {
  font-size: x-small !important;
}
.outline-0 {
  outline: 0;
}
.outline-0:focus {
  box-shadow: none;
}
.ps-7px {
  padding-inline-start: 20px;
}
.gap-24px {
  gap: 0 7px;
}
.min-w-103 {
  min-width: 103px;
}
.justify {
  text-align: justify;
}

/* ===============================
   Sections Background
================================= */
.cards-section {
  background-image: url("/assets/img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.crypto-card {
  background: #f8fafdcc;
  height: auto !important;
}
.step-section {
  background: url("../img/Group 26.png");
}
.download-section {
  background: url("../img/logo2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

/* ===============================
   Lists & Navigation
================================= */
li {
  font-size: 16px;
  padding: 0 10px;
}
.nav-link {
  color: #6c757d; /* text-secondary */
  transition: all 0.2s ease;
}
.nav-link:focus,
.nav-link.active {
  color: var(--main-purple) !important;
  text-decoration: underline;
  text-decoration-color: var(--main-purple);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}
 .offcanvas,
  .offcanvas-body {
    overflow-y: hidden !important;
  }
/* ===============================
   Icons
================================= */
.fa-solid:active {
  background-color: #ab4f9e;
  color: white !important;
}
.fa-solid:active .fafa-minus-square {
  display: block !important;
}

/* ===============================
   Input Fields
================================= */
input:not(:placeholder-shown)::placeholder {
  opacity: 0 !important;
  transition: opacity 0.2s ease-in-out !important;
}
.custom-input::placeholder {
  color: #999;
  transition: opacity 0.3s ease-in-out;
}
.custom-input:focus::placeholder,
.custom-input:not(:placeholder-shown)::placeholder {
  opacity: 0;
}
.input-group .form-control {
  outline: none !important;
}

.input-group .form-control:focus,
.input-group .form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid var(--main-purple) !important;
 
}
input::placeholder {
  color: #d2d2d3!important;      /* خاکستری روشن */
  font-size: 16px;
  text-align: end;    /* یا center اگر میخوای وسط باشه */
  opacity: 1;           /* بعضی مرورگرها placeholder کم‌رنگ نمایش میدن */
}

input.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
/* ===============================
   Interactive
================================= */
.selectitem:hover {
  background-color: #cacccf;
  color: white !important;
}

/* ===============================
   Divider
================================= */
.divider-top {
  position: relative;
  padding-top: 25px;
}
.divider-top:before {
  content: "";
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 14px;
}


/* ===============================
  backgreound-custom
================================= */
.starry-background-white {
  position: relative;
  width: 100%;
  background: white;
  overflow: hidden;
}

.star {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out alternate;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
@keyframes twinkle {
  0% { opacity: 0.2; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1.4); }
}

/* ===============================
swipper
================================= */
.swiper-button-next,
.swiper-button-prev {
  top: auto;
  bottom: 5px;
  transform: translateY(0);
}
.swiper-button-prev,
.swiper-button-next {
  width: 25px;    
  height: 25px;    
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important; 
}


/* ===============================
accordion
================================= */
.accordion-button {
  background-color: white !important;
  color: #6c757d;
  transition: background-color 0.3s ease;
}

.accordion-button:hover,
.accordion-button:focus,
.accordion-button:active {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.accordion-button::after {
  content: "+";
  font-size: 20px;
  transition:
    content 0.3s ease,
    background-color 0.3s ease;
  background-image: none !important;
  padding: 0 6px;
  border-radius: 5px;
}

.accordion-button[aria-expanded="true"]::after {
  content: "-";
  background-color: purple;
  color: white;
}

/* ===============================
carousel
================================= */
.carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-indicators {
  margin-bottom: -2rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: absolute;
  top: -70px;
}

.carousel-control-prev-icon {
  filter: invert(30%) sepia(89%) saturate(700%) hue-rotate(210deg) brightness(95%) contrast(90%);
}

.carousel-control-next-icon {
  filter: invert(39%) sepia(57%) saturate(500%) hue-rotate(80deg) brightness(90%) contrast(85%);
}



/* ===============================
media query
================================= */

@media (max-width: 576px) {
  .add-small-on-sm {
    font-size: 0.7rem;
    white-space: nowrap;
  }
  .add-x-small-on-sm {
    font-size: 0.48rem;
    white-space: nowrap;
  }
  .btc-image {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .imagephone {
    position: static !important;
    margin: 0 auto;
    text-align: center;
    display: block !important;
    width: 100%;
  }
  .img-phone {
    height: auto;
    max-width: 100%;
  }
  nav li{
    font-size: smaller;
  }
}


@media (max-width: 900px) {
  .add-small-on-md {
    font-size: 0.875rem !important;
    white-space: nowrap !important;
    padding: 0 !important;
  }
  .add-x-small-on-md {
    font-size: 0.55rem !important;
  }
    .steps {
    border-left: none !important;
    border-bottom: 1px solid var(--main-purple);
    margin-bottom: 15px !important;
  }
}
