@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/eot/dana-thin.eot);
  src:
    url(../fonts/eot/dana-thin.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-thin.woff2) format("woff2"),
    url(../fonts/woff/dana-thin.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/eot/dana-extralight.eot);
  src:
    url(../fonts/eot/dana-extralight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-extralight.woff2) format("woff2"),
    url(../fonts/woff/dana-extralight.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/eot/dana-light.eot);
  src:
    url(../fonts/eot/dana-light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-light.woff2) format("woff2"),
    url(../fonts/woff/dana-light.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/eot/dana-regular.eot);
  src:
    url(../fonts/eot/dana-regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-regular.woff2) format("woff2"),
    url(../fonts/woff/dana-regular.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/eot/dana-medium.eot);
  src:
    url(../fonts/eot/dana-medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-medium.woff2) format("woff2"),
    url(../fonts/woff/dana-medium.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/eot/dana-demibold.eot);
  src:
    url(../fonts/eot/dana-demibold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-demibold.woff2) format("woff2"),
    url(../fonts/woff/dana-demibold.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/eot/dana-bold.eot);
  src:
    url(../fonts/eot/dana-bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-bold.woff2) format("woff2"),
    url(../fonts/woff/dana-bold.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src: url(../fonts/eot/dana-ultrabold.eot);
  src:
    url(../fonts/eot/dana-ultrabold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-ultrabold.woff2) format("woff2"),
    url(../fonts/woff/dana-ultrabold.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/eot/dana-extrabold.eot);
  src:
    url(../fonts/eot/dana-extrabold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-extrabold.woff2) format("woff2"),
    url(../fonts/woff/dana-extrabold.woff) format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/eot/dana-black.eot);
  src:
    url(../fonts/eot/dana-black.eot?#iefix) format("embedded-opentype"),
    url(../fonts/woff2/dana-black.woff2) format("woff2"),
    url(../fonts/woff/dana-black.woff) format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  src:
    local("Roboto-Regular"),
    local(Roboto-Regular),
    url(../fonts/woff2/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "dana";
  font-size: 13px;
  line-height: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-purple: #ab4f9e;
  --second-gray: #eff2f5;
  --main-success: #16c784;
  --main-danger: #ea3943;

  --opacity-danger: #fbd7d9;
  --opacity-success: #d0f4e6;
  --opacity-warning: rgba(255, 207, 104, 0.356);
  --main-gary-element: #f8fafd;
}

.font-color {
  color: #616e85 !important;
}
.text-gray {
  color: #dee4ec !important;
}
li {
  font-size: 16px;
  padding: 0px 10px;
}
.gary-color {
  background-color: var(--main-gary-element) !important;
}
.amount {
  background-color: #f8f9fa;
}
.cards-section {
  background-image: url("/assets/img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.crypto-card {
  background: #f8fafdcc;
  height: auto !important;
}

.bg-gary {
  background-color: var(--second-gray) !important;
}
.bg-green {
  color: var(--main-success);
}
.bg-red {
  color: var(--main-danger);
}
.box-up {
  color: var(--main-success);
}
.box-down {
  color: var(--main-danger);
}
.bg-opacity-danger {
  background-color: var(--opacity-danger);
  color: var(--main-danger) !important;
  font-size: x-small !important;
}
.bg-opacity-success {
  background-color: var(--opacity-success);
  color: var(--main-success);
}
.bg-opacity-warning {
  background-color: var(--opacity-warning);
}
.small {
  font-size: x-small !important;
}

.btn-outline-danger {
  --bs-btn-color: var(--main-purple);
  --bs-btn-border-color: var(--main-purple);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--main-purple);
  --bs-btn-hover-border-color: var(--main-purple);
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--main-purple);
}
.bg-footer {
  background-color: #0d1421;
}
.outline-0 {
  outline: 0;
}
.outline-0:focus {
  box-shadow: none;
}
.bg-purple {
  background-color: var(--main-purple);
}
@media (max-width: 991px) {
  .steps {
    border-left: none !important;
    border-bottom: 1px solid var(--main-purple);
    margin-bottom: 15px !important;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .imagephone {
    position: static !important;
    margin: 0 auto;
    text-align: center;
    display: block !important;
    width: 100%;
  }
  .img-phone {
    height: auto;
    max-width: 100%;
  }
}

.ps-7px {
  padding-inline-start: 20px;
}
.gap-24px {
  gap: 0 7px;
}
.min-w-103 {
  min-width: 103px;
}
.justify {
  text-align: justify;
}
.divider-top {
  position: relative;
  padding-top: 25px;
}
.divider-top:before {
  content: "";
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 14px;
}

.nav-link:focus,
.nav-link:active {
  text-decoration: underline;
}

/*new style*/

.carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-indicators {
  margin-bottom: -2rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: absolute;
  top: -70px;
}

.carousel-control-prev-icon {
  filter: invert(30%) sepia(89%) saturate(700%) hue-rotate(210deg) brightness(95%) contrast(90%);
}

.carousel-control-next-icon {
  filter: invert(39%) sepia(57%) saturate(500%) hue-rotate(80deg) brightness(90%) contrast(85%);
}

.step-section {
  background: url("../img/Group\ 26.png");
}

.download-section {
  background: url("../img/logo2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.fa-solid:active {
  background-color: #ab4f9e;
  color: white !important;
}

.fa-solid:active .fafa-minus-square {
  display: block !important;
}

.selectitem:hover {
  background-color: #cacccf;
  color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: auto;              
  bottom: 5px;               
  transform: translateY(0);
}
.swiper-button-prev,
.swiper-button-next {
  width: 25px;       /* عرض دکمه */
  height: 25px;      /* ارتفاع دکمه */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;  /* اندازه آیکن */
}


.accordion-button {
  background-color: white !important;
  color: #6c757d;
  transition: background-color 0.3s ease;
}

.accordion-button:hover,
.accordion-button:focus,
.accordion-button:active {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.accordion-button::after {
  content: "+";
  font-size: 20px;
  transition:
    content 0.3s ease,
    background-color 0.3s ease;
  background-image: none !important;
  padding: 0 5px;
  border-radius: 5px;
}

.accordion-button[aria-expanded="true"]::after {
  content: "-";
  background-color: purple;
  color: white;
}
input:not(:placeholder-shown)::placeholder {
  opacity: 0!important;
  transition: opacity 0.2s ease-in-out!important;
}
.custom-input::placeholder {
  color: #999;
  transition: opacity 0.3s ease-in-out;
}

.custom-input:focus::placeholder,
.custom-input:not(:placeholder-shown)::placeholder {
  opacity: 0;
}